

a {
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#footer{
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    background-color: #c7a2c6;
    height: 50px;
    line-height: 20px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    bottom: 0px;
}