

<button class="btn btn-danger" id="buttondelete" type="button" (click)="deleteCheckedTwo()">
        <i class= "fa fa-trash"></i>
      </button>



   <div id="table">

 

  <table class="table">
    
    <thead class="thead-dark">
      <tr>
        <th><input type="checkbox" (click)="checkUnCheckAll()" [checked]=checkedStatus></th>
        <th>Titre</th>
        <th>Début</th>
        <th>Fin</th>
        <th></th>
      </tr>
    </thead>




<tbody>
  <tr *ngFor="let todo of todos; let i = index;"> 
    <td>
      <input type="checkbox" (click)="toggle(i)" [checked]=todo.isChecked>  
    </td>
    <td id="todo" [ngClass]="{strikeOut: todo.isChecked}">{{ todo.title }}</td>
    <td>{{ todo.begin | date: 'dd-MM-yyyy' }}</td>
    <td>{{ todo.end | date: 'dd-MM-yyyy' }}</td>
    <td id="boutons">
      <button id="supp" class="btn btn-warning" type="button" (click)="delete(i)">
        <i class= "fa fa-close" style="font-size:28px"></i>
      </button>
   
        <button id="update" class="btn btn-success" type="button" (click)="update(todo)">
            <i class= "fa fa-cog" style="font-size:25px"></i>
        </button> 
      </td>
    </tr>
</tbody>
</table>
</div>