#table {
    width: 1200px;
    margin: auto;
}


#deleteplusieurs {
    margin: auto;
    margin-bottom: 10px;
}

//#buttondelete {
//    margin-left: 338px;
//    margin-bottom: 8px;
//    margin-top: 40px;
//}

#update {
    margin-left: 11px;
}

#boutons {
    text-align: right;
}

.strikeOut {
    text-decoration: line-through;
}

#supp {
    background-color: white;
    color: black;
    border: none;
}

#update {
    background-color: white;
    color: black;
    border: none;
}


.move-right {
    flex: 1 1 auto;
}











