

#titre {
    font-family: 'bebas neue';
    font-size: 3.5em;
    margin-top: 75px;
    text-align: center;
  }


input#inputtodo {
    width: 40%;
    margin: auto;
    margin-top: 38px;
    height: 45px;
}

input#Du {
    width: 40%;
    margin: auto;

    height: 45px;
}

input#Au {
    width: 40%;
    margin: auto;
 
    height: 45px;
}

button#ajouter {
    width: 40%;
    margin-left: 333px;
    height: 45px;
    color: white;
    background-color: rgb(255, 174, 0);
    border: none;
    text-align: center;
}





