<p id="titre">The new Todo List !</p>

<div class="container">
<form id="todo-form" [formGroup]="todoForm" (submit)=saveTodo()>
  
    <!--<button class="btn btn-primary" type="button" [disabled]="noneChecked()" (click)="deleteCheckedTwo()">SUPP</button>-->


  <div class="form-group">
     <input class="form-control" id="inputtodo" type="text" style="font-style:italic" placeholder="A Faire..." formControlName="title">
   

    <div class="alert alert-warning" *ngIf="title.invalid && title.touched">
     Le titre du todo ne peut pas être vide et contenir au moins 5 caractères.
    </div>
  </div> 

  <div class="form-group">
      <input class="form-control" id="Du" type="date" style="font-style:italic" placeholder="Du..." formControlName="begin">
  </div>
    
  <div class="form-group">
      <input class="form-control" id="Au" type="date" style="font-style:italic" placeholder="Au..." formControlName="end">
  </div>

  <div id="Alerte" class="alert alert-warning" *ngIf="todoForm.hasError('begin')">La date de fin doit être supérieure à la date de début</div>
  <div class="form-group">
    <button class="btn btn-primary" id="ajouter" type="submit" [disabled]="todoForm.invalid">Ajouter</button>
  </div>

  
</form>
</div>




